RewriteEngine On
RewriteCond %{HTTP_HOST} ^toyota-rentcar.co.kr [NC]
RewriteRule ^(.*)$ http://www.toyota-rentcar.co.kr/$1 [L,R]

# SSL 이동
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R,L]